section.section 
  h3 Education 
  ol.school-list 
    li.school
      a Carmel High School
      span Mundelein, IL
      span Diploma, 2006
    li.school
      a American Academy of Art
      span Chicago, IL
      span BA - Fine Arts Graphic Design, 2010