section.section 
  h3 Links 
  ul.links 
    li 
      span Github -  
      a(href="https://github.com/DanielSerio").text-small https://github.com/DanielSerio
    li 
      span Codepen -  
      a(href="https://codepen.io/radNoise").text-small https://codepen.io/radNoise
    li 
      span Source for this site - 
      a(href="https://github.com/DanielSerio/Resume").text-small https://github.com/DanielSerio/Resume 
