section.section 
  h3 Skills
  h4 Technical
  ul 
    li Proficient in Adobe Creative Suite, NiceLabel, Fishbowl Inventory, and Quickbooks
    li Proficient in Typescript/Javascript and Python
    li Proficient in SASS/CSS
    li Proficient in HTML
  h4 Personal
  ul 
    li Hardworking, determined to perform to the best of my ability
    li Willing to lead others and take on several responsibilities
    li Excellent training skills
    li Personable, energetic, works well with others