section.section 
  h3 Work 
  h4 Accumedix, Inc. Contract Medical Device Manufacturing
  ul.work
    li 
      span System and Network Administrator
      small Build and maintain computers/network as well as directly handle user troubleshooting.
    li 
      span Programmer
      small Create and maintain interactive NiceLabel forms and custom Fishbowl Inventory reports.
    li 
      span Graphic Design
      small Corporate identity, web design, labeling and packaging design for Accumedix and its clients.  Work with other graphic design firms and packaging companies to design and implement production print designs and labeling. Troubleshoot print and design issues ensuring compliance to federal regulations. Troubleshoot print and design issues ensuring compliance to federal regulations.
    li 
      span Shipping 
      small Inventory control and shipping activities for Accumedix customers.  Update and report from Fishbowl manufacturing resource planning application to manage inventory levels.
    li 
      span Misc
      small Quality Control and Manufacturing activities as required by business needs.