.root {
  background: $background-color;
  color: $body-color;

  .header,
  .content { 
    background: white; 
    box-shadow: 0 4px 8px rgba(black, 0.125);
  }


  .section {
    h3 { color: $primary-color; }
  }

  .footer {
    a { 
      color: rgba($primary-color, 0.65); 
      cursor: pointer;
    }
  }
}

::selection {
  background: $primary-color;
  color: white;
}